.portfolio-filter li.active {
  background-color: #ff0000;
  color: white;
  padding: 4px 12px;
  border-radius: 20px;
}

.demo-button {
    border: 1px solid #ff0000;
    color: #ff0000;
}

.demo-button:hover {
    background-color: #ff0000;
    color: white;
}
