.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;

  .contact-card {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    .form-group {
      margin-bottom: 1.5rem;
      color: #ff0000;

      label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 600;
      }

      input,
      textarea {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #ff0000;
        border-radius: 6px;
        font-size: 1rem;
        
      }

      textarea {
        resize: vertical;
      }
    }

    .btn-submit {
      background-color: #ff0000;
      color: white;
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 6px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #db3535;
      }
    }
  }
}
