.navbar {
    background-color: var( --yellow-theme-nav-background-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    
    

    &-container {
        display: flex;
        align-items: center;
        width: 100%;
        height: inherit;
        padding: 0 20px;
        flex: 1;
        &-logo {
        color: var(--yellow-theme-main-color);
        cursor: pointer;
    }

    &-menu {
        display: flex;
        list-style-type: none;
        text-align: center;

        &-item {
            line-height: 40px;
            margin-right: 1.5rem;
            font-size: 1.6rem;

            &::after {
                content: "";
                display: block;
                height: 3px;
                width: 0;
                background: transparent;
                transition: all 0.5s ease;
            }

            &:hover::after {
                width: 100%;
                background-color: var(--yellow-theme-main-color);
            }
        }
    }
}}



.navbar-container-menu-item-links.active {
    background-color: red;
    color: white !important;
    padding: 7px !important;
  
}

.nav-icon {
    display: none;
    color: var(--yellow-theme-main-color);
}

@media only screen and (max-width : 768px){
    .navbar-container-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;

        &.active {
            background: #181818;
            left: 0px;
            opacity: 1;
        }

        &-item {
            border-bottom: 1px solid #282828;
            margin: 0px;
            padding: 20px 0;
        }
    }

    .nav-icon {
    display: block;
    cursor: pointer;
    padding-right: 20px;
}
}

